
    <table>
  <!-- START_HIGHLIGHT -->
    <%= render(@cart.line_items) %>
  <!-- END_HIGHLIGHT -->

      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@cart.total_price) %></td>
      </tr>

    </table>

<%= button_to 'Check out', new_order_path, method: :get %>

<%= button_to 'Empty cart', @cart, method: :delete,
    data: { confirm: 'Are you sure?' }, remote: true %>

