
    <table class='table', >
  <!-- START_HIGHLIGHT -->
    <%= render(@cart.line_items) %>
  <!-- END_HIGHLIGHT -->

      <tr>
        <td>Total</td>
        <td><%= number_to_currency(@cart.total_price) %></td>
      </tr>

    </table>
<div class="tophide" >
<%= button_to 'Check out', new_order_path, method: :get, :class => 'btn btn-small btn-primary', remote: true %>
<%= button_to 'Empty cart', @cart, method: :delete,
    data: { confirm: 'Are you sure?' }, remote: true,:class => 'btn btn-small btn-inverse' %>
</div>
