<% if line_item == @current_item %>
	<tr>
<% else %>
	<tr> 
<% end -%>
	<tr>
		<th>Qty.</th>
		<th>Item</th>
		<th>Price</th>
	</tr>	
    <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.product.title %></td>
    <td><%= number_to_currency(line_item.total_price) %></td>
    <tr>
      <td><%= button_to 'Remove', decrement_line_item_path(line_item),        method: :put, remote: true, class: 'btn btn-mini checkout' %></td>
    </tr>
  </tr>
