 

	<section id="summary">
    	<h1>Summary</h1>
        <p>Junior Level Web Developer</p>
        <p>Focus on developing web applications with Ruby on Rails, use behavior driven development to produce clean, readable, well documented, and bug free code.</p>
        <p>A Philosopher by education, but the views in my dreams are called by  controllers.</p>    	
    </section>
    
    <section id="skills">
    	<h1>Skills</h1><p>Hover Cursor for Details</p>
        <dl>
            <div class="row-fluid">
                <div class="span4"> 
        	<dt>Back-end Web Development</dt>
            <dd title="MVC web application framework based in the Ruby language">Ruby on Rails</dd>
            <dd title="Object orientated programming language">Ruby</dd>
            <dd title="Rspec, Shoulda, Test::Unit">Testing</dd>
            <dd title="Version Control Management software">Git Version Control</dd>
                </div>
                <div class="span4"> 
            <dt>Front-End Development /Integration</dt>
            <dd title="Hyper Text Markup Language">HTML5</dd>
            <dd title="Cascading Style Sheets">CSS3</dd>
            <dd title="Front-end programming language compiled to Java script">CoffeeScript</dd>
            <dd title="Javascript Library">jQuery</dd>
            <dd title="Excellent Opensource Operating system">Ubuntu Linux</dd>
        
                </div>
                <div class="span4"> 
            <dt>Audio Engineering</dt>
            <dd title="Setup, Signal Routing, Strike, Console Opertation">Live Sound</dd>
            <dd title="Microphone Placment, and selection">Microphone Technique</dd>
            <dd title="Digital and Analog">Audio Console Operation</dd>
                 </div>
               </div>                    
        </dl>
    </section>
    
    <section id="experience">
    	<h3>Work Experience</h3>
        <article>
        	<h4><a href="http://www.ChadTClark.com" title="Chad Thomas Clark">ChadTClark.com</a> <i> Portland, Oregon</i></h4>
            <p><b><i>Freelance Web Developer</i></b></p>
            <time class="start">August 2012</time>
            <span class="end">- Present</span>
            <p>
            	Developing template websites in order to hone my web development skills<br>
                Developed a standard store front application.<br>
                Developed a standard Blog application.<br>
                Read and completed Agile Web Development from cover to cover.<br>
                Completed CodeSchool courses, JQuery, Rails 1 and 2, ruby, CoffeeScript, Git, Rails Testing
            </p>            
        </article>
        <article>
        	<h4>Sound Engineer<i> Portland, Oregon</i></h4>
            <h5><i>Freelance sound engineer</i></h5>
            <time class="start">Nov 2011</time>
            <time class="end">- present </time>
            <p>
                Live Sound Support<br>
                Client list available upon request.
        
            </p>            
        </article>
        <article>
        	<h4><a href="http://www.kpsu.org" title="KPSU"></a>KPUS.ORG<i> Portland, Oregon</i></h4>
            <h5><i>Technical Director</i></h5>
            <time class="start">June 2009</time>
            <time class="end">- Nov 2011</time>
            <p>
            	Spent my time in school working at the Portland State University's radio station.<br>
                Recorded Live In-Studio performances.<br>
                Maintained audio equiptment.<br>
                Referbished and updated the broadcast equiptment.<br> 
            </p>            
        </article>
        <article>
        	<h4>Jason's Deli Las Vegas, Nevada</h4>
            <h5><i>Delivery Driver</i></h5>
            <time class="start">June 2006</time>
            <time class="end">June 2008</time>
            <p>
            	Delivered food and catered events!
            </p>            
        </article>
    </section>
    
    <section id="education">
    	<h3>Education</h3>
        <h4>Portland State University</h4>
        <p><i>Bachelors of Science, Philosophy <small>ip</small></i></p><br>
        <i>-focus on formal logic</i>
        <h4>College Of Southern Nevada</h4>
        <p><i>Associates of Science, Psychology</i></p>
            <p><i>-Graduated with high honors!</i></p>


    </section>
    
    <section id="hobbies">
    	<h3>Hobbies &amp; Interests</h3>
        <ul>
        	<li>Bicycling</li>
            <li>Hiking</li>
            <li>Arduino</li>
            <li>Scuba Diving</li>
            <li>Camping</li>
            <li>Cinema</li>
            <li>Hanging out with my dog.</li>
             <button class="btn btn-primary show_hide" href="#" >Hide it I've seen enough!</button>
        </ul>
    </section>
